In [1]:
import pandas as pd

renewable_sources=["Solor","Wind","Hydro","Geothermal","Biomass"]

data={
    "Project":["Solar Farm A","Wind Turbine X","Hydropower Y ","Solar Roof B","Geothermal Plant Z"],
    "Technology":["Solar","Wind","Hydropower","Solar","Geothermal"],
    "Capacity(MW)":[150,300,200,50,100],
    "cost(Million $)":[200,400,350,100,250],
    "Location":["California","Texas","Washington","Nevada","Idaho"],
    "Completion Year":[2023,2024,2022,2025,2023]

}

In [2]:
data

{'Project': ['Solar Farm A',
  'Wind Turbine X',
  'Hydropower Y ',
  'Solar Roof B',
  'Geothermal Plant Z'],
 'Technology': ['Solar', 'Wind', 'Hydropower', 'Solar', 'Geothermal'],
 'Capacity(MW)': [150, 300, 200, 50, 100],
 'cost(Million $)': [200, 400, 350, 100, 250],
 'Location': ['California', 'Texas', 'Washington', 'Nevada', 'Idaho'],
 'Completion Year': [2023, 2024, 2022, 2025, 2023]}

### Create a Pandas Series for Renewable Energy Sourse

In [4]:
renewable_series=pd.Series(renewable_sources)
print("****Renewable Series****")
print(renewable_series)

****Renewable Series****
0         Solor
1          Wind
2         Hydro
3    Geothermal
4       Biomass
dtype: object

### Create a DataFrame for green technology project

In [5]:
project_df=pd.DataFrame(data)
print("****Project Data Frame****")
print(project_df)

****Project Data Frame****
              Project  Technology  Capacity(MW)  cost(Million $)    Location  \
0        Solar Farm A       Solar           150              200  California
1      Wind Turbine X        Wind           300              400       Texas
2       Hydropower Y   Hydropower           200              350  Washington
3        Solar Roof B       Solar            50              100      Nevada
4  Geothermal Plant Z  Geothermal           100              250       Idaho

   Completion Year
0             2023
1             2024
2             2022
3             2025
4             2023

### Head()

In [7]:
project_df.head(2)

,Project,Technology,Capacity(MW),cost(Million $),Location,Completion Year
0,Solar Farm A,Solar,150,200,California,2023
1,Wind Turbine X,Wind,300,400,Texas,2024

### Info()

In [8]:
project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Project          5 non-null      object
 1   Technology       5 non-null      object
 2   Capacity(MW)     5 non-null      int64
 3   cost(Million $)  5 non-null      int64
 4   Location         5 non-null      object
 5   Completion Year  5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

### describe()

In [9]:
project_df.describe()

       Capacity(MW)  cost(Million $)  Completion Year
count       5.00000         5.000000         5.000000
mean      160.00000       260.000000      2023.400000
std        96.17692       119.373364         1.140175
min        50.00000       100.000000      2022.000000
25%       100.00000       200.000000      2023.000000
50%       150.00000       250.000000      2023.000000
75%       200.00000       350.000000      2024.000000
max       300.00000       400.000000      2025.000000

### describe() include all

In [10]:
project_df.describe(include='all')

,Project,Technology,Capacity(MW),cost(Million $),Location,Completion Year
count,5,5,5.00000,5.000000,5,5.000000
unique,5,4,NaN,NaN,5,NaN
top,Solar Farm A,Solar,NaN,NaN,California,NaN
freq,1,2,NaN,NaN,1,NaN
mean,NaN,NaN,160.00000,260.000000,NaN,2023.400000
std,NaN,NaN,96.17692,119.373364,NaN,1.140175
min,NaN,NaN,50.00000,100.000000,NaN,2022.000000
25%,NaN,NaN,100.00000,200.000000,NaN,2023.000000
50%,NaN,NaN,150.00000,250.000000,NaN,2023.000000
75%,NaN,NaN,200.00000,350.000000,NaN,2024.000000
max,NaN,NaN,300.00000,400.000000,NaN,2025.000000

In [11]:
project_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Capacity(MW),5.0,160.0,96.176920,50.0,100.0,150.0,200.0,300.0
cost(Million $),5.0,260.0,119.373364,100.0,200.0,250.0,350.0,400.0
Completion Year,5.0,2023.4,1.140175,2022.0,2023.0,2023.0,2024.0,2025.0

### describe().T

In [12]:
project_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Capacity(MW),5.0,160.0,96.176920,50.0,100.0,150.0,200.0,300.0
cost(Million $),5.0,260.0,119.373364,100.0,200.0,250.0,350.0,400.0
Completion Year,5.0,2023.4,1.140175,2022.0,2023.0,2023.0,2024.0,2025.0

### Access Project Name

In [15]:
print("\n List Of The Projects : ")
print(project_df["Project"])

 List Of The Projects :
0          Solar Farm A
1        Wind Turbine X
2         Hydropower Y
3          Solar Roof B
4    Geothermal Plant Z
Name: Project, dtype: object

### Coloums

In [16]:
project_df.columns

Index(['Project', 'Technology', 'Capacity(MW)', 'cost(Million $)', 'Location',
       'Completion Year'],
      dtype='object')

In [17]:
###shape

In [18]:
project_df.shape

(5, 6)

In [19]:
project_df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['Project', 'Technology', 'Capacity(MW)', 'cost(Million $)', 'Location',
        'Completion Year'],
       dtype='object')]

In [21]:
project_df.isnull().sum()

Project            0
Technology         0
Capacity(MW)       0
cost(Million $)    0
Location           0
Completion Year    0
dtype: int64

In [24]:
high_capacity_projects=project_df[project_df["Capacity(MW)"]>100]
print("\nProcess With Capacity Greater than 100 MW: ")
print(high_capacity_projects)

Process With Capacity Greater than 100 MW:
          Project  Technology  Capacity(MW)  cost(Million $)    Location  \
0    Solar Farm A       Solar           150              200  California
1  Wind Turbine X        Wind           300              400       Texas
2   Hydropower Y   Hydropower           200              350  Washington

   Completion Year
0             2023
1             2024
2             2022

In [28]:
project_df['Cost per MW']=project_df["cost(Million $)"]/project_df["Capacity(MW)"]
print("\n DataFrame with cost per MW")
print(project_df)

 DataFrame with cost per MW
              Project  Technology  Capacity(MW)  cost(Million $)    Location  \
0        Solar Farm A       Solar           150              200  California
1      Wind Turbine X        Wind           300              400       Texas
2       Hydropower Y   Hydropower           200              350  Washington
3        Solar Roof B       Solar            50              100      Nevada
4  Geothermal Plant Z  Geothermal           100              250       Idaho

   Completion Year  Cost per MW
0             2023     1.333333
1             2024     1.333333
2             2022     1.750000
3             2025     2.000000
4             2023     2.500000

In [30]:
total_capacity=project_df["Capacity(MW)"].sum()
total_cost=project_df["cost(Million $)"].sum()

print(f"\n Total Capacity of all projects : {total_capacity} MW")
print(f"\n Total Cost of all Projects : ${total_cost} millions")

 Total Capacity of all projects : 800 MW

 Total Cost of all Projects : $1300 millions

In [31]:
grouped_data=project_df.groupby("Technology")["Capacity(MW)"].sum()
print("\n Total Capacity by Technology")
print(grouped_data)

 Total Capacity by Technology
Technology
Geothermal    100
Hydropower    200
Solar         200
Wind          300
Name: Capacity(MW), dtype: int64